# IDE
.idea/
.vscode/
.conda/
.clang-format

# Cache
*.py[cod]
**/.ipynb_checkpoints/
**/__pycache__/

# Distribution / packaging
/build/
**/*.egg-info

# Cython compilation
/cython_build/
**/*.so
**/*.dll
/cython_debug/

# Local files
local_experiments/